:root{
  --hover-color:  rgb(132, 255, 235);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.headline {
  margin: 1em .5em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content:flex-start;
  /* align-items: center; */
}

.g-left{
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  width: 30vw;
  flex-grow: 4;
  flex-basis:content;
  margin: 0;
}

.g-left h1{
  margin-right: .5em;
  
}

.searchBox{
  align-self:center;
  margin: 0 ;
  border-radius: .3em;
  /* padding: .8em; */
  
}

.menu-btn{
  margin: inherit;
  height: 3.5em;
  width: 3.5em;
  
  text-align: center;
  border-radius: .5em;
  align-self: flex-start;
  /* justify-content: center; */
  background-color:rgba(255, 255, 255, 0);
  border-radius: .5em;
  transition: background-color 230ms ease-in-out;
}

.menu-btn:hover {
  background-color: var(--hover-color);
}

.menu-btn button , a{
  margin: auto;
  text-align:center;
  cursor: pointer;
  background:none;
  border:none;
  outline-style:none;
  color:black;
  padding: .5em 0;
}


@keyframes Hover {
  from{
    background-color: none;
  }
  to{
    background-color: var(--hover-color);
  }

}


.cardList{
  margin: auto;
  width: 99vw;
  /* overflow-x:scroll; */
}

.cardList ::-webkit-scrollbar {
  width: 0em;
}

.noResult {
  display:flex;
  /* height: 100vh;
  justify-content:space-around;
  vertical-align: middle; */
  margin: 0 .5em;
}

